<app-header></app-header>
  <!--/header-->
 
  <!-- //home page block1 -->
  <!-- about page about section -->

    
  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
                    <h4>We're all set {{clientname}},</h4>
                    <h3 class="title-left mx-0">Your Money Should arrive in your bank soon.</h3>
    
                    <!-- <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Learn More</a> -->
                </div>
                <div class="col-lg-5">
                    <div class="position-relative">
                        <img src="assets/images/about.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <section class="w3l-index3" id="about">
      <div class="midd-w3 py-5" >
          <div class="container py-lg-5 py-md-3">
              <div class="row">
                <p class="mt-md-4 mt-3" >Last updated:16 minutes ago</p>
                <p class="mt-md-4 mt-3 transfer" >Your transfer is complete</p>
                  <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self" id="information">
                      <p class="mt-md-4 mt-3">
                        <span class="fa fa-circle circle"></span><p class="date">{{date}}</p> <p class="mt-md-4 mt-3"><span class="client">{{sender}}</span>   set up your transfer</p>
                        <span class="fa fa-circle circle"></span> <p class="date">{{date}}</p>
                          <p class="mt-md-4 mt-3">We recieved <span class="client">{{amount}}</span> from <span class="client">{{sender}}</span>  </p>
                          <span class="fa fa-circle circle"></span> <p class="date">{{date}}</p>
                            <p class="mt-md-4 mt-3">Your transfer is being processed</p>
                             <span class="fa fa-circle circle"></span><p class="date">{{date}}</p> 
                             <p class="mt-md-4 mt-3" style="color:#a486f1;font-weight: bold;">{{amount}} from {{sender}} is being processed for transfer to 
account ending {{accountnumber}}</p> 
                  </div>
                  <div class="col-lg-5">
                         <h5 class="title-big mb-5 text-center keep">Keep in Mind</h5>
                         <p class="business">It can take up to  <span class="client">  {{days}} </span>business days for your bank to process
                         and credit your money to your account ending in  <span class="client">{{accountnumber}}</span>.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5" >
        <div class="container py-lg-5 py-md-3 cover">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self" id="check">
                    <p class="mt-md-4 mt-3">
                        <h4 class="mt-md-4 mt-3">Money not in your account yet?</h4>
                        <div *ngIf="toggleDisplay1;">
                 <p class="mt-md-4 mt-3">Some banks might take an extra day to clear your money .Your bank might be :</p>
                 <ul>
                    <li>Making extra security checks</li>
                    <li>Closed,closing early,or only processing transfers in the morning</li>
                    <li>Closed due to a public holiday</li>
                 </ul>

                 <p class="mt-md-4 mt-3 questions">Questions about your transfer?<br>Please ask {{sender}} for a transfer receipt and contact your bank</p>

                   </div>
                    </div>
                <div class="col-lg-5">
                    <!-- <h4 class="mt-md-4 mt-3 togg">Transfer Details</h4> -->
                       <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="swap_vertical_circle"  class="swap" (click)="seeMore1()"></mat-icon>
                      
                </div>
            </div>
        </div>
    </div>
</section>
  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5" >
        <div class="container py-lg-5 py-md-3 cover1">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self" id="check">
                    <p class="mt-md-4 mt-3">
                        <h4 class="mt-md-4 mt-3 ">Transfer Details</h4>
                        <div *ngIf="toggleDisplay;">
                        <p class="date">Sender</p> <p class="mt-md-4 mt-3">{{sender}}</p>
                        <p class="date">Amount</p> <p class="mt-md-4 mt-3">{{amount}}</p>
                        <p class="date">To your account number</p> <p class="mt-md-4 mt-3">{{accountnumber}}</p>
                        <p class="date">IBAN</p> <p class="mt-md-4 mt-3">{{iban}}</p>
                        <p class="mt-md-4 mt-3">{{transaction_type}}</p>
                        <p class="mt-md-4 mt-3">{{post_box1}}</p>
                        <p class="mt-md-4 mt-3">{{post_box2}}</p>
                    </div>
                    </div>
                <div class="col-lg-5">
                    <!-- <h4 class="mt-md-4 mt-3 togg">Transfer Details</h4> -->
                       <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="swap_vertical_circle" class="swap" (click)="seeMore()"></mat-icon>

                </div>
               
            </div>
        </div>
    </div>
    <div class="container py-lg-5 py-md-3 cover2"></div>
</section>
  
  <!--  //News section -->
 <app-footer></app-footer>
