<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke px-0">
             <a class="navbar-brand" href="index.html">
                <img src="assets/images/national.jpg" alt="img"
                class="img-fluid radius-image-curve" />
                </a>
            <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @@about__active">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item @@services__active">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item @@contact__active">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <!--/search-right-->
                    <div class="search mr-3">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="fa fa-search" for="search_box"></label>
                        <div class="search_form">
                            <form action="error.html" method="GET">
                                <input type="text" placeholder="Search"><input type="submit" value="search">
                            </form>
                        </div>
                    </div>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
  </header>
  <!--/header-->
 
  <!-- //home page block1 -->
  <!-- about page about section -->

    
  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
                    <h4>We're all set {{clientname}},</h4>
                    <h3 class="title-left mx-0">Your Money Should arrive in your bank soon.</h3>
    
                    <!-- <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Learn More</a> -->
                </div>
                <div class="col-lg-5">
                    <div class="position-relative">
                        <img src="assets/images/about.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <section class="w3l-index3" id="about">
      <div class="midd-w3 py-5" >
          <div class="container py-lg-5 py-md-3">
              <div class="row">
                <p class="mt-md-4 mt-3" >Last updated:16 minutes ago</p>
                <p class="mt-md-4 mt-3 transfer" >Your transfer is complete</p>
                  <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self" id="information">
                      <p class="mt-md-4 mt-3">
                        <span class="fa fa-circle circle"></span><p class="date">{{date}}</p> <p class="mt-md-4 mt-3"><span class="client">{{sender}}</span>   set up your transfer</p>
                        <span class="fa fa-circle circle"></span> <p class="date">{{date}}</p>
                          <p class="mt-md-4 mt-3">We recieved <span class="client">{{amount}}</span> from <span class="client">{{sender}}</span>  </p>
                          <span class="fa fa-circle circle"></span> <p class="date">{{date}}</p>
                            <p class="mt-md-4 mt-3">Your money's on its way</p>
                            <span class="fa fa-circle circle"></span><p class="date">{{date}}</p>
                            <p class="mt-md-4 mt-3" style="color:#a486f1;font-weight: bold;">Your money should've arrived in your bank</p>
                  </div>
                  <div class="col-lg-5">
                         <h5 class="title-big mb-5 text-center keep">Keep in Mind</h5>
                         <p class="business">It can take up to  <span class="client">  {{days}} </span>business days for your bank to process
                         and credit your money to your account ending in  <span class="client">{{accountnumber}}</span>.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5" >
        <div class="container py-lg-5 py-md-3 cover">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self" id="check">
                    <p class="mt-md-4 mt-3">
                        <h4 class="mt-md-4 mt-3">Money not in your account yet?</h4>
                        <div *ngIf="toggleDisplay1;">
                 <p class="mt-md-4 mt-3">Some banks might take an extra day to clear your money .Your bank might be :</p>
                 <ul>
                    <li>Making extra security checks</li>
                    <li>Closed,closing early,or only processing transfers in the morning</li>
                    <li>Closed due to a public holiday</li>
                 </ul>

                 <p class="mt-md-4 mt-3 questions">Questions about your transfer?<br>Please ask {{sender}} for a transfer receipt and contact your bank</p>

                   </div>
                    </div>
                <div class="col-lg-5">
                    <!-- <h4 class="mt-md-4 mt-3 togg">Transfer Details</h4> -->
                       <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="swap_vertical_circle"  class="swap" (click)="seeMore1()"></mat-icon>
                      
                </div>
            </div>
        </div>
    </div>
</section>
  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5" >
        <div class="container py-lg-5 py-md-3 cover1">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self" id="check">
                    <p class="mt-md-4 mt-3">
                        <h4 class="mt-md-4 mt-3 ">Transfer Details</h4>
                        <div *ngIf="toggleDisplay;">
                        <p class="date">Sender</p> <p class="mt-md-4 mt-3">{{sender}}</p>
                        <p class="date">Amount</p> <p class="mt-md-4 mt-3">{{amount}}</p>
                        <p class="date">To your account number</p> <p class="mt-md-4 mt-3">{{accountnumber}}</p>
                        <p class="date">IBAN</p> <p class="mt-md-4 mt-3">{{iban}}</p>
                        <p class="mt-md-4 mt-3">{{transaction_type}}</p>
                        <p class="mt-md-4 mt-3">{{post_box1}}</p>
                        <p class="mt-md-4 mt-3">{{post_box2}}</p>
                    </div>
                    </div>
                <div class="col-lg-5">
                    <!-- <h4 class="mt-md-4 mt-3 togg">Transfer Details</h4> -->
                       <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="swap_vertical_circle" class="swap" (click)="seeMore()"></mat-icon>

                </div>
               
            </div>
        </div>
    </div>
    <div class="container py-lg-5 py-md-3 cover2"></div>
</section>
  
  <!--  //News section -->
   <!-- footer -->
   <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="col-lg-4 col-md-6 footer-list-29 footer-1 pr-lg-5">
            <div class="footer-logo mb-4">
              <a class="navbar-brand" href="index.html">
                 National Australia Bank</a>
            </div>
            <p>It is the leading financial establishment providing high-quality international banking services. Our
              success
              is attributed to our loyal customers. We provide reliable services for you.</p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-5 col-5 footer-list-29 footer-2 mt-md-0 mt-5">
  
            <ul>
              <h6 class="footer-title-29">Quick Links</h6>
              <li><a href="about.html">About Us</a></li>
              <li><a href="#blog"> Blog posts</a></li>
              <li><a href="#pricing"> Pricing plans</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-7 col-7 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Head Office</h6>
            <p class="mb-3"> National Australia Bank, 343 banking lane, #2214 cravel street, NY.</p>
            <p class="mb-2"> <span class="fa fa-phone"></span> <a href="tel:+1(21) 234 4567">+1(21) 234 4567</a></p>
            <p class="mb-2"><span class="fa fa-envelope-o"></span> <a href="mailto:info@mail.com">info@mail.com</a></p>
            <p><span class="fa fa-support"></span> <a href="mailto:info@support.com">info@support.com</a></p>
          </div>
          <div class="col-lg-3 col-md-6 footer-list-29 footer-4 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Latest posts</h6>
            <div class="post1">
              <a href="#url" class="post-title">7 Banking Services That Can Save Retirees Money</a>
              <p class="small">September 28, 2022</p>
            </div>
            <div class="post1 mt-4">
              <a href="#url" class="post-title">Stocks Could Surge 10% between Now And 2022</a>
              <p class="small">September 28, 2022</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- copyright -->
    <section class="w3l-copyright text-center">
      <div class="container">
        <p class="copy-footer-29">© 2022 National Australia Bank. All rights reserved.</p>
      </div>